nav {
    background-color: #BEBFBE;
    margin: 0px;
    padding: 8px 0px 8px 0px;
}

nav a {
    color: #3F3C3C;
    text-decoration: none;
    font-size: 22px;
    font-family: arial;
    background-color: #BEBFBE;
    padding: 8px 10px 8px 10px;
}

#selected {
    color: #FFFFFF;
}

nav a:hover {
    color: #ffffff;
    background-color: #838383;
}

.HCCase {
    display: inline-block;
    max-width: 100%;
}

#HCCaseTxt {
    width: 600px;
    margin: 50px 0px 0px 20px;
    padding: 5px;
    vertical-align: top;
}

#C2CM {
    color: #0DD587;
    font-family: arial;
}

#FTR a:hover {
    color: #ffffff;
}

#FTR .FNav {
    font-size: 14px;
    padding: 0px 0px 0px 15px;
}

#FTR {
    margin: 0px;
    padding: 10px 0px 20px 10px;
    background-color: #838383;
    margin: 0px
}

#HLogo {
    height: 90px;
    width: 90px;
    margin: 8px 0px 8px 15px;
    position: relative;
    z-index: 2;
}

#HRBG {
    width: 550px;
    height: 111px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#TopC {
    height: 300px;
    width: 500px;
    margin: 25px 0px 35px 25px;
    padding: 0px;
}

#HomeC {
    width: 100%;
    background-image: url("Img/BIMG.png");
    background-position: right top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.HC1 {
    Width: 280px;
    height: 280px;
    margin: 0px 0px 10px 45px;
    padding-top: 25px;
}

.HC2 {
    width: 350px;
    height: 280px;
    margin: 0px 0px 0px 75px;
    padding-bottom: 25px;
}

#Cart {
    width: 50px;
    height: 50px;
    margin: 25px 0px 0px 105px;
}

.ACS {
    float: right;
    margin: 5px 15px 0px 0px;
    padding: 0px
}

.ACS a {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #3F3C3C;
    font-family: arial;
}

body {
    margin: 0px;
}

footer .FNav {
    float: right;
}

footer {
    color: #3F3C3C;
    font-family: arial;
    font-size: 14px;
}

footer a {
    font-size: 14px;
}

#HNav {
    margin: 0px 15px 0px 0px;
}